
/* structure */
body {
  font-family: 'Arimo', "Helvetica Neue", helvetica, sans-serif;
  font-size: 16px;
  background-image: url(https://jlr7245.github.io/ga_press_release_continued/hero.png);
  background-size: cover;
  background-color: #eee;
}
.container {
  width: 70%;
  max-width: 1000px;
  margin: 120px auto;
  background-color: white;
  display: block;
  overflow: auto;
}
header {
  padding: 50px 7% 0;
}
div.col {
  width: 27.33%;
  padding: 3%;
  display: table-cell;
  background-color: white;
  vertical-align: middle;
}
div.borderTop {
  border-top: 1px solid #ddd;
}
section {
  padding: 0 7%;
}
article {
  width: 60%;
  padding: 1px;
  margin-bottom: 30px;
  display: block;
  float: left;
}
aside {
  width: 30%;
  padding: 3%;
  display: block;
  float: right;
  border-left: 1px solid #ddd;
}
hr {
  width: 100%;
  margin: 0;
  border: none;
}
div.branding {
  background-color: #ddd;
}
div.cta {
  background-color: #CF4948;
}
.center {
  text-align: center;
}

/* text */
h1 {
  font-family: 'Oswald', sans-serif;
  margin-top: 5px;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  line-height: 1.25;
}
h4 {
  font-family: 'Fira Mono', monospace;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-indent: 20px;
  margin: 70px 0 5px;
}
h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  letter-spacing: .5px;
  margin: 0 0 15px;
}
aside p {
  font-size: 1.3em;
}
ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}
.locations li {
  font-family: 'Fira Mono', monospace;
  color: white;
  background-color: #CF4948;
  border-radius: 10px;
  display: inline-block;
  padding: 3px 12px;
  margin: 5px;
  border-bottom: 2px solid #A20101;
}
.contactInfo li {
  font-family: 'Fira Mono', monospace;
  text-align: left;
  line-height: 2;
}
a {
  text-decoration: none;
  color: #CF4948;
}
.white a{
  color: white;
}

/* objects */
.logoTop img{
  max-height: 150px;
}
button {
  font-size: 1.2em;
  border: 5px solid;
  border-radius: 20px;
  background: none;
  padding: 5px 10px;
  font-family: 'Fira Mono', monospace;
}
button.red {
  border-color: #CF4948;
}
button.white {
  border-color: white;
  color: white;
}
.logoSuperscript:after {
  height: 16px;
  width: 16px;
  background-image: url("images/logo.png");
  background-size: cover;
  display: inline-block;
  margin: 0 0 2px 4px;
  content: " ";
}
.col img {
    width: 80%;
    display: block;
    margin: 0px auto;
    max-width: 300px;
}

/* colors */
.red {
  color: #CF4948;
}
.white {
  color: white;
}
