body {
  text-align: center;
  background: url("https://c.pxhere.com/photos/f7/ca/cat_nose_feline_animal_pet_smell_sniffing_smelling-997773.jpg!d");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  }
img {
  border-radius: 50%;
  margin-top: 80px;
  padding: 10px;
  border: 2px solid white;
  background-color: rgba(255,255,255,.2);
  }
p {
  color: salmon;
  font-size: 80px;
  font-family: geneva;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10;
  line-height: .5;
  margin: 50px;
  }
input {
  border: 0;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  }
input[type="submit"] {
  background: rgb(230,230,230);
  color: black;
  }
.dim {
  background-color: rgba(0,0,0,.4);
  height: 100%;
  width: 100%;
  position: absolute;
  }