/*
Project Name: Relaxr
Client: General Assembly FEWD homework
Author: Isadora Williams
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  background-color: #f0efef;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/*
Open Sans:

Light = 300
Light Italic = 300i
Semibold = 600
Extrabold = 800

Colors:

benefits background: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Images:

header_bg - http://res.cloudinary.com/jkeohan/image/upload/v1509050166/header_bg_f5pvpn.jpg
testimonial_bg.jpg - http://res.cloudinary.com/jkeohan/image/upload/v1509050227/testimonial_bg_rd59w7.jpg 
facebook.png - http://res.cloudinary.com/jkeohan/image/upload/v1509050265/facebook_qgtd3u.png 
twitter.png - http://res.cloudinary.com/jkeohan/image/upload/v1509050288/twitter_zkx8xu.png
*/


/*text*/

.logo {
  font-size: 24px;
  font-weight: 800;
}
h1, h2 {
  color: white;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p, ul {
  font-size: 18px;
  font-weight: 300;
}
ul {
  list-style-type: dot;
  padding-left: 45px;
}
li::before {
  display: inline-block;
  content: '•';
  font-size: 50px;
  line-height: 0;
  color: #606161;
  vertical-align: middle;
  margin-top: -6px;
  padding-right: 4px;
}
p.quote {
  font-style: italic;
}
p.source {
  font-weight: 600;
}
footer p.logo {
  color: #f9e42e;
}
footer p {
  font-size: 9px;
  font-weight: 600;
}


/*semantic layout*/

header {
  background: url(http://res.cloudinary.com/jkeohan/image/upload/v1509050166/header_bg_f5pvpn.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

footer {

}


/*non-semantic layout*/


/*objects*/

button {
  font-size: 12px;
  font-weight: 800;
  color: #033048;
  border-radius: 5px;
  background-color: #f9e42e;
  border: 1px solid #f9e42e;
}

header button {
  font-size: 14px;
}













