body {

}
/* text styles */
h1 {
}
h4 {
  font-family: helvetica, arial, sans-serif;
  font-size: .875em;
  text-transform: uppercase;
  color: white;
  background-color: red;
  padding: 20px 30px;
  margin: 0;
}
ul {
}
li {
}
a {
}
hr {
}
/* image styles */
img {
}
/* classes */
div.logo {
  background-color: black;
}
div.hero img {
  width: 100%;
}
div.headline h4 {
}
div.intro {
}
div.locations {
}
div.more-info {
}