/* all screen sizes */
* {
  box-sizing: border-box;
}
.clearfix::after {
    content:"";
    display:block;
    clear:both;
  }
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  padding: 20px;
}
#logo-header {
  max-width: 50px;
}
header nav {
  border-bottom: 10px solid #2b2a2a;
  padding-bottom: 10px;
}
header nav li {
  float: left;
  padding: 10px 15px 0 0;
}
a {
  text-decoration: none;
  color: #000;
}
main {
  padding: 0 20px;
}
#about {
  border-bottom: 10px solid #2b2a2a;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 60px;
  font-weight: 600;
  line-height: .55;
  padding: 8px 13px 25px 0;
  text-transform: uppercase;
}
p {
  line-height: 1.4;
  margin: 0 0 7px;
}
#projects ul {
  margin-left: -20px;
}
#projects ul li {
  float: left;
  margin: 0 0 20px 20px;
  width: calc(100% - 20px);
}
#projects ul li div {
  background-color: #000;
  padding-bottom: 75%;
  position: relative;
  width: 100%;
}
#projects ul li div img {
  float: left;
  width: 100%;
}
#projects ul li div p {
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
}
footer {
  padding: 0 20px;
}
p.copyright {
  border-top: 1px solid #000;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

/* screens above 320px */
@media screen and (min-width:321px) {

}

/* screens above 480px */
@media screen and (min-width:481px) {
  header nav ul {
    float: right;
  }
  header nav li {
    padding: 20px 0 0 20px;
  }
  /*  make 2 columns  */
  #projects ul li {
    width: calc((100%/2) - 20px);
  }
  /*  wrap about text  */
  h1 {
    float: left;
    padding-bottom: 20px;
  }
}

/* screens above 768px */
@media screen and (min-width:769px) {
  /*  make 3 columns  */
  #projects ul li {
    width: calc((100%/3) - 20px);
  }  
}

/* screens above 1024px */
@media screen and (min-width:1025px) {

}