*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
}
.wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 45px 20px 25px;
}
h3, p {
  margin: 5px;
}

#app {
  padding-top: 30px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

/*.clear {
  clear: both;
}*/

.row {
  display: flex;
  flex-direction: row;
}

.row div {
  /*text-align: center;*/
  /*padding: 30px;*/
  border: 1px dotted #777;
  display: flex;
  flex-basis: calc(100% / 3);
  justify-content: center;
  /*float: left;*/
}

.row div:hover {
  background-color: #eee;
  cursor: pointer;
}
