.clearfix:after {
    content:"";
    display:table;
    clear:both;
  }
body {
  font-family: 'Lato', sans-serif;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  color: #de1d17;
  display: inline-block;
  font-size: 38px;
  font-weight: 300;
  margin: 50px 0 10px;
}
p#tagline {
  color: #888;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 0 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  background-color: #000;
  border-left: 1px solid #fff;
  box-sizing: border-box;
  float: left;
  min-width: 16.66%;
  padding: 15px;
  text-align: center;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
}